.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.admin-panel {
    background-color: rgba(230, 139, 2, 0.8);
    border-radius: 8px;
    padding: 20px;
    margin: 40px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-car-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.add-car-button:hover {
    background-color: #0056b3;
}