.custom-blue-bg {
    background-color: #007bff; /* Nahraďte vaší modrou barvou */
    color: white;
}

.custom-orange-bg {
    background-color: #ff7c32; /* Nahraďte vaší oranžovou barvou */
    color: white;
}

.custom-orange-border {
    border-color: #ff7c32; /* Nahraďte vaší oranžovou barvou */
}

.custom-table th {
    background-color: #007bff; /* Modrá barva pro hlavičku tabulky */
    color: white;
}

.custom-table tr:nth-of-type(even) {
    background-color: #f2f2f2; /* Světlý odstín pro řádky tabulky */
}

.custom-table tr:nth-of-type(odd) {
    background-color: white; /* Bílá barva pro řádky tabulky */
}

.custom-table td {
    vertical-align: middle;
}

.custom-table .btn-warning {
    color: #ffffff; /* Barva textu pro warning tlačítko */
    background-color: #ff7c32; /* Oranžová barva tlačítka */
    border-color: #ff7c32; /* Oranžová barva rámečku */
}

.custom-table .btn-danger {
    color: #ffffff; /* Barva textu pro danger tlačítko */
    background-color: #dc3545; /* Bootstrap červená */
    border-color: #dc3545; /* Bootstrap červená */
}

/* Přidat mezery pod tabulkou a nad patičkou */
.content-container {
    padding-bottom: 2rem;
}