.login-page {
    font-family: 'Roboto', sans-serif;
}

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: rgba(230, 139, 2, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    color: #343a40;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Zajišťuje, že padding a border jsou zahrnuty do šířky */
}

.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box; /* Stejně tak pro tlačítko */
}

.login-button:hover {
    background-color: #0056b3;
}