.profile-page {
    font-family: 'Roboto', sans-serif;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.user-profile {
    background-color: rgba(230, 139, 2, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.user-profile h2 {
    color: #17100c;
    font-weight: 300;
    margin-bottom: 20px;
}

.user-profile div {
    padding: 8px 0; /* Přidání mezery nad a pod řádky */
    border-bottom: 1px solid #ccc; /* Přidání spodního okraje jako čáry */
}

.user-profile div:last-child {
    border-bottom: none; /* Odebrání spodního okraje u posledního řádku */
}

.user-profile h2 {
    text-align: center; /* Zarovnání nadpisu na střed */
    margin-bottom: 20px; /* Přidání mezery pod nadpisem */
}

/* Styl pro FontAwesome ikony */
.fa-icon {
    margin-right: 8px; /* Přidání mezery napravo od ikon */
    color: #007bff; /* Barva ikon */
}

.user-profile strong {
    color: #333;
    font-weight: 500;
}